


<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', id: "user_name" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', id: "user_email" %>

  <%= f.label :gender %>
  <%= f.select :gender,['Male','Female','NotSpecified'],:prompt=>"select", class: 'form-control', id: "user_gender" %>
 
  <div class="check">
  <%= f.label :Interested_in_Movie %>
  <%= f.check_box :movie_interest, id: "checknow" %>
  </br>
  </div>

      <ul id="userid" >
       <li><%= current_user.id %></li>
      </ul>

  <fieldset>
    <div class="allmovies">
    <%= f.label :allMovies %><br>
    <ul id="list1" >
      <% @user.allmovies.each do |a| %>
        <li><input type="checkbox" /><span><%= a %></span></li>
      <% end %>
    </ul>
   </div>

    <div class="button">
       <br><br>
        <input type="button" value="-->" onclick="moveRight()">
        <br><br><br><br>
        <input type="button" value="<--" onclick="moveLeft()">
    </div>

   <div class="mymovies" >
    <%= f.label :myMovies %><br>
    <ul id="list2" >
     <% @user.mymovies.each do |a| %>
      <li><input type="checkbox" /><span><%= a %></span></li>
     <% end %>
     </ul>
   </div>
  </fieldset>

   <%= link_to 'UpdateUser', user_path, id: "tested"  %>  
<% end %>


